.card {
  display: flex;
  outline: 1px solid tomato;
}

.linkBack {
  display: inline-block;
  margin-bottom: 8px;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 4px;
  padding: 2px 4px;
}

.thumb {
  width: 200px;
  height: 300px;
  margin-right: 8px;

  & img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.description {
  width: 600px;
}
